body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2 {
    color: #333;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
    color: #fff;
}

#resultado {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}